html {
  font-size: 125%;
}

h1,
p,
label,
button,
input,
select {
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
  color: #fff;
}

select {
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

option {
  color: black;
}

h1 {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;

  span {
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
}