html {
  font-size: 125%;
}

h1,
h2,
p,
label,
span,
button,
input {
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
}
h1 {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0;
}

