html {
  font-size: 125%;
}

h1,
h2,
p,
label,
span,
button,
input,
select {
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
}
a {
  color: #fff;
}
select {
  appearance: none;

  &::-ms-expand {
  display: none;
  }
}
option {
  color: black;
}
h1 {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  button {
    font-size: 1rem;
  }
}
