@import "./partials/_setup";
@import "./partials/_base";

body {
  min-height: 100vh;
}

.darken {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  z-index: -1;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.background-1 {
  background: url("./../assets/rain.jpg") 50% 50% / cover no-repeat;
  z-index: -3;
}

.background-2 {
  background: url("./../assets/background.jpg") 50% 50% / cover no-repeat;
  z-index: -2;
}

.wrapper {
  max-width: 760px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  text-align: center;
}

.input-wrapper p,
.end-message p {
  text-align: center;
  line-height: 1.3;
}

.input-wrapper p {
  font-size: 2rem;
}

.end-message p:first-of-type {
  margin-top: 10vh;
  font-size: 2rem;
}

.input-wrapper,
.begin-meditation {
  opacity: 0;
}

.preloader {
  position: absolute;
  top: calc(50%);
  left: calc(50% - 50px);
  z-index: 9999;
}

input,
select {
  width: 4rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px 10px;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 0;

  &:focus {
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px;
  }
}

select {
  width: 6rem;
}

button {
  background: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  margin: 20px auto 0;
  display: block;
  transition: all 200ms;

  &:hover,
  &:focus {
    background: #fff;
    color: #000;
  }
}

.error p {
  text-align: center;
  font-size: 0.9rem;
  color: #e74c3c;
}

p.time {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
}

p.instructions {
  margin-top: 40px;
  margin-bottom: 0px;
}

.hide-button {
  display: none;
}

.url {
  font-size: 1rem;
  margin: 0 auto;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 10px;
    margin: 10px auto 0;
  }
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}

@media only screen and (max-height: 515px) {
  .wrapper {
    justify-content: space-between;
  }

  .input-wrapper {
    max-width: 90%;
    margin: 5vh auto 0;

    p {
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }

  .countdown {
    margin: 5vh auto;
  }

  .end-message {
    p {
      font-size: 1rem;
      margin: 10px auto;
    }

    .url {
      font-size: 0.8rem;

      a {
        margin: 0 auto;
      }
    }
  }

  input,
  select {
    font-size: 1rem;
    width: 4rem;
  }

  button {
    margin-top: 0;
    font-size: 0.9rem;
    padding: 2px 10px;
  }

  header {
    padding-top: 0;
  }

  .logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      margin: 0;
      flex: 1 1 100px;
      text-align: left;
    }

    p {
      font-size: 0.9rem;
      text-align: right;
      margin: 0;
    }
  }

  footer p {
    margin-bottom: 0;
  }
}

@media only screen and (orientation: landscape) and (max-width: 600px) {
  .input-wrapper p {
    font-size: 1rem;
  }

  .countdown {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    justify-content: space-between;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    margin-top: 0;
    font-size: 0.9rem;
    padding: 2px 10px;
  }

  .input-wrapper {
    margin-top: 10vh;

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  input,
  select {
    font-size: 1rem;
    width: 4rem;
  }

  header {
    padding-top: 0;
  }

  .countdown p {
    margin: 0 auto;
  }

  .end-message {
    p {
      font-size: 1.2rem;
      margin: 20px auto;

      &:first-of-type {
        font-size: 1.2rem;
      }
    }

    .url {
      font-size: 0.8rem;

      a {
        margin: 0 auto;
      }
    }
  }
}