@import "./partials/_setup";
@import "./partials/_base";

body {
  min-height: 100vh;
  background: url('./../assets/background.jpg') 50% 50%/cover;
}
.darken {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  padding: 20px 0; 
}
.wrapper {
  max-width: 760px;
  width: 90%;
  margin: 0 auto;
}
header {
  padding-top: 10vh;
  text-align: center;
}
.input-wrapper, .end-message {
  display: block;
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
  margin: 60px auto 60px;;
}
input {
  width: 4rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px 10px;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 0;
}
button {
  background: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  margin: 20px auto;
  display: block;
  transition: all 200ms;

  &:hover {
    background: #fff;
    color: #000;
  }
}
.error p {
  text-align: center;
  font-size: .9rem;
  color: #e74c3c;
}
p.time {
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
}
p.instructions {
  margin-top: 40px;
  margin-bottom: 0px;
}
.hide-button {
  display: none;
}

@media only screen and (max-width: 500px) {
  .input-wrapper {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  input {
    font-size: 1rem;
  }
}
