@import "./partials/_setup";
@import "./partials/_base";

body {
  min-height: 100vh;
}
.darken {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  padding: 20px 0; 
  position: relative;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.background-1 {
  background:  url('./../assets/rain.jpg') 50% 50%/cover no-repeat;
  z-index: -2;
}
.background-2 {
  background:  url('./../assets/background.jpg') 50% 50%/cover no-repeat;
  z-index: -1;
}

.wrapper {
  max-width: 760px;
  width: 90%;
  margin: 0 auto;
}
header {
  text-align: center;
}
.input-wrapper, .end-message {
  display: block;
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
  margin: 40px auto;
}
.input-wrapper, .begin-meditation {
  opacity: 0;
}
.preloader {
  position: absolute;
  top: calc(50%);
  left: calc(50% - 50px);
  z-index: 9999;
}
input, select {
  width: 4rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px 10px;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 0;

  &:focus {
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px;
  }
}
select {
  width: 6rem;
}
button {
  background: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  margin: 20px auto 40px;
  display: block;
  transition: all 200ms;

  &:hover, &:focus {
    background: #fff;
    color: #000;
  }
}
.error p {
  text-align: center;
  font-size: .9rem;
  color: #e74c3c;
}
p.time {
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
}
p.instructions {
  margin-top: 40px;
  margin-bottom: 0px;
}
.hide-button {
  display: none;
}
.url {
  font-size: 1rem;
  margin: 0 auto;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    background: rgba(255,255,255, 0.8);
    color: #000;
    border-radius: 10px;
    margin: 10px auto 0;
  }
}
footer {
  font-size: .8rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .input-wrapper {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  input, select {
    font-size: 1rem;
    width: 4rem;
  }
  header {
    padding-top: 0;
  }
  .end-message {
    margin: 30px auto;

    p {
      font-size: 1.2rem;
      margin: 20px auto;
    }
    .url {
      font-size: .8rem;
      
      a {
        margin: 0 auto;
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 700px), only screen and (max-height: 400px) {
  .input-wrapper {
    font-size: 1rem;
    line-height: 1.6;
    width: 80%;
    margin: 30px auto;
  }
  .darken {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .end-message {
    margin: 30px auto;

    p {
      font-size: 1rem;
      margin: 10px auto;
    }
    .url {
      font-size: .8rem;
      
      a {
        margin: 0 auto;
      }
    }
  }
  p.time {
    margin: 30px auto;
  }
  input, select {
    font-size: 1rem;
    width: 4rem;
  }
  header {
    padding-top: 0;
  }
  .logo {
    display: flex;
    align-items: center;
    
    h1 {
      font-size: 1.5rem;
      margin: 0;
      flex: 1 1 100px;
      text-align: left;
    }
    p {
      font-size: .9rem;
      text-align: right;
      margin: 0;
    }
  }

}
